.top-nav {
    height: 100px;
    width: 100%;
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 20px;
}

.logo-position{
    float: left;
}

.nav-logo-container{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.nav-logo{
    margin-top: 10px;
    height: auto;
    width: 80px;
    border-radius: 20px;
}

.nav-title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 20px;
}

.top-nav ul{
    list-style: none;
    float: right;
    text-align: right;
    padding-top: 20px;
    text-shadow: 5px 8px 30px gray;
}

.top-nav li{
    display: inline-block;
}

.top-nav ul li a{
    text-decoration: none;
    font-family: Verdana;
    font-size: 25px;
    margin-right: 70px;
    color: white;
    font-weight: bold;
}

h1 {
    text-shadow: 2px 2px 5px gray;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 17px;
}

.Introduction {
    text-shadow: 2px 2px 5px gray;
    margin-top: -60px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 75px;
}

h5 {
    text-shadow: 2px 2px 5px gray;
    font-family: cursive;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
    margin-left: 100px;
    margin-top: 5px;
}

#Button {
    margin: 5px 5px 5px 5px;
    background: linear-gradient(120deg,#fef5dd,#f2f2f2);
    text-shadow: 4px 2px 3px white;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    font-family: cursive;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    border: none;
    cursor: pointer;
    margin-left: 800px;
}

#Nxt {
    margin: 0px 5px 5px 1650px;
    background: linear-gradient(120deg,#fef5dd,#f2f2f2);
    text-shadow: 4px 2px 3px white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    border: none;
    cursor: pointer;
}

.Profile {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.Profile video {
    border-radius: 20px;
    width: 300px;
    height: 200px;
    background-color: #f2f5dd;
}

.Intro {
    text-shadow: 2px 2px 5px gray;
    margin-top: -200px;
    margin-left: 310px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
}

p {
    margin-bottom: 85px;
    padding-left: 320px;
    font-family: cursive;
}

.container {
    max-width: 800px;
    height: 250px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #0A1D56;
    border-radius: 5px;
    background: linear-gradient(120deg,#fef5dd,#f2f2f2);
    box-shadow: 5px 8px 100px black;
    margin-top: 80px;
}
